/* src/components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* USAMOS VARIABLE */
  background-color: var(--nav-bg); 
  border-bottom: 1px solid var(--border-color);
  
  position: sticky;
  top: 0;
  width: calc(100% - 4rem);
  z-index: 1000;
  transition: background-color 0.3s;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  /* USAMOS VARIABLE */
  color: var(--text-color); 
}

.menuItems {
  display: flex;
  gap: 1.5rem;
  align-items: center; /* Para alinear el botón */
  padding: 0;
  margin: 0;
}

.menuItems a {
  font-size: 1rem;
  color: var(--text-color); /* USAMOS VARIABLE */
  transition: color 0.3s;
}

.menuItems a:hover {
  color: var(--accent-color);
}

/* Estilo del botón de Sol/Luna */
.themeBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.themeBtn:hover {
  transform: scale(1.2); /* Crece un poquito al pasar el mouse */
  background-color: rgba(128, 128, 128, 0.1);
}
.profileBtn {
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-color);
  padding: 5px 15px;
  border-radius: 20px;
  color: var(--accent-color) !important; /* Fuerza el color azul */
  transition: all 0.3s;
}

.profileBtn:hover {
  background-color: var(--accent-color);
  color: white !important; /* Se vuelve sólido al pasar el mouse */
}