/* src/components/Projects.module.css */
.container {
  padding: 2rem;
  margin-top: 2rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.grid {
  display: grid;
  /* Crea 3 columnas en PC, 2 en tablet, 1 en celular */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem; /* Espacio entre tarjetas */
}